{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/login.css" class="css">
    <link rel="icon" href="/static/img/favicon.png">
</head>

<body>
    <img src="/static/img/bg.jpg" alt="background-image" class="wave">
    <div class="container">
        <div class="img">
            <img src="/static/img/phone.svg" alt="">
        </div>
        <div class="login-container">
            <form action="{% url 'account_login' %}" method="POST">
                {% csrf_token %}
                <img src="/static/img/profile_avatar.svg" alt="avatar" class="avatar">
                <h2 id="login-error">Welcome</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="">
                        <h5>Email</h5>
                        <input type="email" name="login" id="login" class="input">
                    </div>
                </div>
                <div class="input-div second">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="">
                        <h5>Password</h5>
                        <input type="password" class="input" name="password">
                    </div>
                </div>
                <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                <input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script src="/static/js/login.js"></script>

    {% if form.errors %}
    <script>
        var err = document.getElementById("login-error");
        err.classList.add("error-text");
        err.innerText = "Incorrect credentials";
    </script>
    {% endif %}

</body>

</html>