@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Slab:wght@300;500;600&family=Lato&family=Lexend:wght@400;500&display=swap');

:root {
    --Josefin: "Josefin Slab", sans-serif;
    --Lexend: 'Lexend', sans-serif;
    --Lato: 'Lato', sans-serif;
    --Abel: 'Abel', sans-serif;
    --light-blue: rgba(33, 141, 241, 1);
    --dark-blue: rgba(33, 141, 241, 0.31);
    --dark-grey: rgba(35, 43, 51, 0.9);
    --light-cyan: rgba(130, 180, 195, 1);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out all;
}



body {
    font-family: 'Poppins', sans-serif;
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
    position: relative;
}

.logo {
    position: absolute;
    left: 0%;
    top: 0%;
    padding: 2rem 3rem;
    color: rgba(33, 141, 241, 1);
    z-index: 10;

}

.logo:hover {
    color: white;
    z-index: 10;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img {
    width: 500px;

}

.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* */
    border-radius: 50%;
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

form {
    width: 360px;
}

form h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: rgb(37, 36, 36);
}

.input-div {
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div:after, .input-div:before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background-color: #38d39f;
    transition: .3s;
}

.input-div:after {
    right: 50%;
}

.input-div:before {
    left: 50%;
}

.input-div.focus:after, .input-div.focus:before {
    width: 50%;
}

.input-div.focus .i i {
    color: #38d39f;
}

.input-div.focus div h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.one {
    margin-top: 0;
}

.input-div.second {
    margin-bottom: 4px;
}

.input-div .i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-div .i i {
    color: #d9d9d9;
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}


.input-div>div h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(66, 59, 59);
    transition: .3s;
    font-size: 18px;
    /* display: none; */
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: rgb(245, 245, 245);
}

form a , form p{
    display: block;
    text-align: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    transition: 0.3s;
}

form a:hover {
    color: #3895d3;
}

form .btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #344d44, #29795e, #38be8f);
    cursor: pointer;
    color: #fff;
    background-size: 150%;
    transition: .5s;
    text-transform: uppercase;
}

form .btn:hover {
    background-position: right;
    transition: .5s;
    transform: scale(.95);
}

form .social-login {
    width: 100%;

}
form .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

}

form .social-login .social {
    display: flex;
    justify-content: space-between;
}
form .social-login .social a {
    font-size: .9rem;
}
form .social-login .social a {
    padding: .5rem 2rem;
    background-color: rgba(12, 62, 71, 0.637);
    border-radius: 10px;
    display: inline-block;
}
.or-div h3 {
    display: inline-block;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.or-div h3:first-child {
    width: 30%;
    border-bottom: 3px solid black;
}
.or-div h3:last-child {
    width: 30%;
    border-bottom: 3px solid black;
}

@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    form h2 {
        font-size: 2.4 rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .img {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .login-container {
        justify-content: center;
    }

    .bg {
        transition: all 0.25s ease-in-out;
        -webkit-filter: blur(6px);
        -moz-filter: blur(6px);
        -ms-filter: blur(6px);
        filter: blur(6px);
    }

    form a {
        color: rgb(0, 0, 0);
    }

    .input, .input-div>div h5 {
        color: #f5f5f5;
    }
}