.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(65, 63, 63, 0.884);
    z-index: 10;
    top: 0;
    left: 0;
}

.modal .project-content {
    width: 90%;
    height: 90%;
    margin: 1rem auto;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    background-color: rgba(226, 226, 225, 0.904);
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
    padding-right: 15px;
    padding: 1rem;


}

.modal .project-content i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);

}

.modal .project-content .project-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.modal .project-content .project-div .gallery img {
    width: 100%;
    max-height: 300px;
    display: flex;
    object-fit: cover;
    margin: 10px;
    border-radius: 4px;
    transition: .5s;
    z-index: 9;
}

.modal .project-content .project-div .gallery img:hover {
    transform: translateX(-30%)scale(1.3);
    transition: 1s;
    z-index: 10;
}

.modal .info h2, .modal .info h3, .gallery h2 {
    font-family: var(--Lexend);
    padding: 1rem 2rem;
}

.modal .info h2 {
    color: rgb(24, 165, 221);
}

.modal .info b {
    color: rgb(24, 165, 221);
}

.modal .info .description {
    padding: 2rem;
    font-family: var(--Lato);
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: justify;
    font-size: 1.2rem;
}

.modal .info .date span {
    font-family: var(--Lexend);
    font-weight: bolder;
    color: gray;
    text-align: left;
    margin-bottom: 1rem;
}

.modal .close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    background-color: rgb(252, 252, 252);
    padding: 8px;
    border-radius: 50%;
    color: rgb(170, 12, 12);

}

.modal .button-group {
    padding: 1rem 0rem;
}

.testimonials {
    text-align: center;
    margin: 2rem auto;
    /* padding: 3rem; */
}

.testimonials .testimonial-list {
    display: flex;
    justify-content: center;


}

.testimonials .testimonial-list span {
    color: black;
}


.testimonials .left-arrow {
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: 1rem;
    background-color: rgba(35, 43, 51, 0.986);
    padding: 1rem;
    border-radius: 50%;
    color: white;
    height: 50px;
    width: 50px;
    transition: .3s
}



.testimonials .right-arrow {
    position: absolute;
    top: 50%;
    right: 0%;
    margin-right: 1rem;
    background-color: rgba(35, 43, 51, 0.986);
    padding: 1rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    transition: .3s
}

.testimonials .right-arrow:hover, .testimonials .left-arrow:hover {
    background-color: #fff;
    color: rgb(35, 43, 51);
    transition: .3s;
}

.testimonials h2 {
    font-size: 2rem;
    font-family: var(--Lexend);
}

.testimonials p {
    font-family: var(--Lato);
    text-align: center;
}

.testimonials .card {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px grey;
    position: relative;
    margin-top: 80px;
    padding-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.testimonials .img-group img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 3px 3px grey;
}


.testimonials .card h4 {
    color: rgb(7, 56, 56);
    font-family: var(--Lexend);
    padding: .5rem;

}

.testimonials .card span {
    font-family: var(--Lato);
    padding: 1rem;
}

.testimonials .card p {
    padding: 1rem;
}

@media screen and (max-width: 750px) {

    .testimonials .testimonial-list {
        padding: 1rem;
        gap: .5rem;
    }

    .modal .project-content .project-div {
        display: flex;
        flex-direction: column;
    }

    .modal .info .description {
        padding: 1rem;
    }
}

@media screen and (max-width: 650px) {

    .testimonials .testimonial-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 1rem auto;
    }

    .testimonials .testimonial-list .card {
        margin: 100px auto 0px auto;
    }

    .modal .info .description {
        text-align: left;
    }
}

body, html {
    min-width: 300px;
}