{% load static %}

<div class="footer">
    <footer>
        <div class="about">
            <h3>About Us</h3>
            <p>Our goal is to provide you the best we have to offer</p>
            <a href="tel:+250787241457" class="text-link"><span>Call Us:</span> + (250) 787 241 457</a>
            <a href="mailto:info@feyton.co.rw" class="text-link"><span>Email:</span> info@feyton.co.rw</a>
        </div>
        <div class="form">
            <h3>Our NewsLetter</h3>
            <form action="#">
                <div class="input-container">
                    <input type="text" placeholder="E-mail">
                    <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
        <div class="social">
            <h3>Follow me</h3>
            <div class="social-icons">
                <a href="https://facebook.com/feytonf" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://instagram.com/feytonf" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://github.com/feyton" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-github"></i></a>
                <a href="https://www.youtube.com/channel/UCfMEXzqST_bQSs0f31_R8NA" target="_blank"
                    rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
            </div>

        </div>

    </footer>
</div>