{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="Feyton Inc" /> <!-- website name -->
    <meta property="og:site" content="https://www.feyton.co.rw" /> <!-- website link -->
    
    <meta property="og:title" content="{% block desc %}Feyton Inc{% endblock desc %}" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="{% block summary %}Welcome to feyton Inc{% endblock summary %}" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="/static/img/" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="https://www.feyton.co.rw/blog/" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Feyton Inc - {% block title %}Blog{% endblock title %}</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
        rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/forestry.css" class="css">

    <!-- Favicon  -->
    <link rel="icon" href="/static/img/favicon.png">
</head>

{% block body %}

<body data-spy="scroll" data-target=".fixed-top">
{% endblock body %}
    <!-- Preloader -->
    <div class="spinner-wrapper d-none">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
{% include 'include/nav.html' %}

    <!-- Navigation -->



{% block content %}
{% endblock content %}

{% include 'include/footer.html' %}
{% include 'include/js.html' %}
