{% extends 'blog/base.html' %}

{% block desc %}Blog
{% endblock desc %}
{% block summary %}read and learn with us. Get access to trending news in tech and development.{% endblock summary %}

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper d-none">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navigation -->


    {% block content %}


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="text-container">
                            <h2 class="text-left"><span class="turquoise">We are glad you are</span> HERE</h2>
                            <p class="p-large text-left">We talk tech, we provide solutions, we interact with our
                                reader.
                                <strong><span class="turquoise">We have what you are looking for.</span></strong> Or you
                                can request content. Even better, become an <span
                                    class="turquoise font-weight-bolder">author</span> yourself!</p>
                            <ul class="list-unstyled li-space-lg text-left pl-2">
                                {% for cat in categories %}
                                <li> <i class="fas fa-check"></i>&nbsp;{{cat.title}}</li>

                                {% endfor %}

                            </ul>
                            <a href="#" class="btn btn-info btn-outline" data-target="modal" data-toggle="modal">Request
                                Content</a> or <a href="#" class="btn btn-success btn-outline">BECOME AUTHOR</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <h2>Trending Posts</h2>

                        <!-- Card Slider -->
                        <div class="slider-container">
                            <div class="swiper-container card-slider">
                                <div class="swiper-wrapper">

                                    <!-- Slide -->
                                    {% for post in posts %}
                                    <div class="swiper-slide">
                                        <div class="card card-carousel">
                                            {% if post.thumbnail %}
                                            <img class="card-image image-link" src="{{post.thumbnail.url}}" alt="alternative" data-url="{{post.get_absolute_url}}">
                                            {% else %}
                                            <img class="card-image image-link" src="/static/img/post.jpg" alt="alternative" data-url="{{post.get_absolute_url}}">
                                            {% endif %}
                                            <div class="card-body">
                                                <p class="testimonial-text">{{post.summary|truncatechars:100}} <span class="text-info"><a href="{{post.get_absolute_url}}" class="link link-move link-success">Read more</a></span></p>
                                                <p class="testimonial-author">By: {{post.author.get_full_name}}</p>
                                            </div>
                                        </div>
                                    </div> <!-- end of swiper-slide -->
                                    {% endfor %}
                                    <!-- end of slide -->


                                </div> <!-- end of swiper-wrapper -->

                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <!-- end of add arrows -->

                            </div> <!-- end of swiper-container -->
                        </div> <!-- end of slider-container -->
                        <!-- end of card slider -->

                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->



    <!-- About -->
    <div id="about" class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Latest Blogs</h2>
                    <p class="p-heading p-large"></p>
                </div> <!-- end of col -->

            </div> <!-- end of row -->
            <div class="row ">
                <div class="col-xg-8 col-md-8 col-sm-12">
                    <div class="card overflow-scroll h-500">
                        <div class="news_container">
                            <!-- News Post -->
                            {% for post in posts %}
                            <div
                                class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
                                <div class="news_post_image">

                                    <img src="/static/img/post.jpg" alt=""
                                        height="200px" width="300px" class="rounded image-link"
                                        data-url="{{post.get_absolute_url}}" />
                                </div>

                                <div class="news_post_content text-left ml-1">
                                    <div class="news_post_title title-link">
                                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                                    </div>

                                    <div class="news_post_text text-left">
                                        <p>{{post.summary|safe}}</p>
                                    </div>
                                    <div class="button-group">
                                        <a href="{{post.get_absolute_url}}" class="btn btn-info pull-right btn-sm">Read
                                            More</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}



                        </div>
                    </div>
                </div>

                <!-- News Sidebar -->
                <div class="col-xl-4 col-md-4 col-sm-12">
                    <div class="card category mt-1">
                        <div class="card-header">
                            <h3>Categories</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                {% for cat in categories %}
                                <li class="media">
                                    <div class="media-body text-left">
                                        <a href="{{cat.get_absolute_url}}" class='n-decoration n-hover'>
                                            <i class="fa fa-arrow-alt-circle-right"></i>&nbsp;{{cat.title}} (#
                                            {{cat.posts.count}})
                                        </a>
                                    </div>


                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="card category mt-1">
                        <div class="card-header">
                            <h3>Popular Tags</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled text-left">
                                {% for t in tags %}
                                <li class="media">

                                    <div class="media-body"><a href="{{t.get_absolute_url}}"
                                            class="n-decocartion n-hover link-move bold link-info"><span
                                                class="turquoise">#</span> {{t.name}}</a></div>
                                    <i class="fas fa-check"> {{t.posts.count}}</i>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of about -->

    {% endblock content %}
