<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Feyton Inc - Blog</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
        rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/forestry.css" class="css">

    <!-- Favicon  -->
    <link rel="icon" href="img/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top" style="background-image: url('/images/header-background.jpg') ;">

    <!-- Preloader -->
    <div class="spinner-wrapper d-none">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <a class="navbar-brand logo-text page-scroll" href="index.html">Feyton <span class="turquoise">Inc</span></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul class="navbar-nav ml-auto">
                <form method="get" action="/search" class="pull-right">
                    <div class="input-group no-border ">
                        <input type="text" value="" class="form-control" placeholder="Search..." name="query">
                        <div class="input-group-append">
                            <div class="input-group-text form-submit">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                </form>
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="blog.html">Blog</a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#" id="navbarDropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">More</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">Terms
                                Conditions</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">Privacy
                                Policy</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Hire Me</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x facebook"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x twitter"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->




    <!-- About -->
    <div id="about" class="basic-3 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Search results for <span class="text-info bold">django</span></h2>
                    <p class="p-heading p-large">Meat our team of specialized marketers and business developers which
                        will help you research new products and launch them in new emerging markets</p>
                </div> <!-- end of col -->

            </div> <!-- end of row -->
            <div class="row ">
                <div class="col-xg-8 col-md-8 col-sm-12">
                    <div class="news_container">
                        <!-- News Post -->
                        <div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
                            <div class="news_post_image">

                                <img src="https://www.notes.igiti.co.rw/media/blog/aforestation.jpg" alt=""
                                    height="200px" width="300px" class="rounded image-link" data-url="/detail.html" />
                            </div>

                            <div class="news_post_content text-left ml-1">
                                <div class="news_post_title title-link">
                                    <a href="detail.html">Tree selection- Factors to consider. Lorem ipsum, dolor
                                        sit!</a>
                                </div>

                                <div class="news_post_text text-left">
                                    <p>The tree species you select will dictate your overall production, costs and
                                        yield. That is because Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Ipsum, eos! … </p>
                                </div>
                                <div class="button-group">
                                    <a href="/detail.html" class="btn btn-info pull-right btn-sm">Read More</a>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

                <!-- News Sidebar -->
                <div class="col-xl-4 col-md-4 col-sm-12 mt-2">
                    <div class="card category mt-1">
                        <div class="card-header">
                            <h3>People search also:</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <div class="media-body text-left">
                                        <i class="fa fa-arrow-alt-circle-right"></i>&nbsp;Django web dev
                                    </div>


                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card category mt-1">
                        <div class="card-header">
                            <h3>Popular Tags</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled text-left">
                                <li class="media">

                                    <div class="media-body"><a href=""
                                            class="n-decocartion n-hover link-move bold link-info"><span
                                                class="turquoise">#</span> Lifestyle</a></div>
                                    <i class="fas fa-check"> 20</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of about -->

    <!-- News -->



    </div>
    </div>
    <!-- End recent posts -->



    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About Evolo</h4>
                        <p>We're passionate about offering some of the best business growth services for startups</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Our business partners <a class="turquoise"
                                        href="#your-link">startupguide.com</a></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Read our <a class="turquoise" href="terms-conditions.html">Terms
                                        & Conditions</a>, <a class="turquoise" href="privacy-policy.html">Privacy
                                        Policy</a></div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Social Media</h4>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="https://inovatik.com">Inovatik</a> - All rights
                        reserved</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
    <script>
        $('.image-link').click(function (e) {
            window.location.href = ($(this).data('url'))
        });
        $('.form-submit').click(function (e) {
            $(this).closest('form').submit()
        })
    </script>
</body>

</html>
